uvicorn==0.34.2
psutil==7.0.0
rsa==4.9.1
fsspec
sympy==1.14.0
fastapi==0.115.12
langchain==0.3.24
google-ai-generativelanguage==0.6.17
langchain-google-genai==2.1.2
langchain-openai==0.3.1
langchain-ollama==0.2.2
socksio==1.0.0
python-dotenv==1.1.0
mcp==1.6.0
cloudpickle==3.1.1
duckduckgo_search==8.0.1
langchain-community==0.3.20
google-genai==1.9.0
python-docx==1.1.2
pypdf==5.4.0
unstructured==0.17.2
markdown==3.8
websocket-client==1.8.0
pillow==11.2.1
faiss-cpu==1.11.0
pandas==2.2.3
openpyxl==3.1.5
xlrd==2.0.1
docx2txt==0.9
html2text
python-multipart==0.0.20
browser-use==0.1.40
droidrun==0.1.0
pyscreenshot==3.1
screeninfo==0.8.1
pyautogui==0.9.54
